#root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
}

.bug {
    background: var(--type-bug);
    color: var(--color-white);
}

.dark {
    background: var(--type-dark);
    color: var(--color-white);
}

.dragon {
    background: var(--type-dragon);
    color: var(--color-white);
}

.electric {
    background: var(--type-electric);
    color: var(--color-dark-gray);
}

.fairy {
    background: var(--type-fairy);
    color: var(--color-dark-gray);
}

.fighting {
    background: var(--type-fighting);
    color: var(--color-white);
}

.fire {
    background: var(--type-fire);
    color: var(--color-white);
}

.flying {
    background: var(--type-flying);
    color: var(--color-dark-gray);
}

.ghost {
    background: var(--type-ghost);
    color: var(--color-white);
}

.grass {
    background: var(--type-grass);
    color: var(--color-dark-gray);
}

.ground {
    background: var(--type-ground);
    color: var(--color-dark-gray);
}

.ice {
    background: var(--type-ice);
    color: var(--color-dark-gray);
}

.normal {
    background: var(--type-normal);
    color: var(--color-dark-gray);
}

.poison {
    background: var(--type-poison);
    color: var(--color-white);
}

.psychic {
    background: var(--type-psychic);
    color: var(--color-white);
}

.rock {
    background: var(--type-rock);
    color: var(--color-white);
}

.steel {
    background: var(--type-steel);
    color: var(--color-dark-gray);
}

.water {
    background: var(--type-water);
    color: var(--color-white);
}

body {
    min-height: 100vh;
}

body:after {
    background: linear-gradient(to bottom, red 45%, black 45%, black 55%, white 55%);
    content: "";
    display: block;
    background-attachment: fixed;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
}

header {
    margin-bottom: 2rem;
}

.search-input {
    border-radius: 100vmax;
    padding: .5rem;
    background-color: white;
    color: black;
    margin: 0 1rem;
}

.btn-search {
    padding: .5rem;
    border-radius: 100vmax;
    cursor: pointer;
    text-transform: capitalize;
    font-weight: bold;
    box-shadow: 0 0 1rem rgba(0, 0, 0, .15);
    background-color: #fff;
}

.btn-search:hover {
    transform: scale(1.1);
    box-shadow: 0 0 2rem rgba(0, 0, 0, .25);

}

.types {
    padding-block: 1rem;
    max-width: 1000px;
    margin: 0 auto;
}

.types-list {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: .5rem;
}

.btn-type {
    padding: .5rem;
    border-radius: 100vmax;
    cursor: pointer;
    text-transform: capitalize;
    font-weight: bold;
    box-shadow: 0 0 1rem rgba(0, 0, 0, .25);
    width: 100px;
}

.btn-type:hover {
    transform: scale(1.1);
    box-shadow: 0 0 2rem rgba(0, 0, 0, .25);
    transition: .2s;
}

#pokemonViewer {
    padding: 2rem;
    max-width: 1250px;
    margin: 0 auto;
}

.pokemon-list {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
}

@media screen and (min-width: 550px) {
    .pokemon-list {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (min-width: 1000px) {
    .pokemon-list {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media screen and (min-width: 1250px) {
    .pokemon-list {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}

.pokemon {
    border-radius: 1rem;
    background-color: var(--color-white);
    box-shadow: 0 0 3rem -1rem rgba(0, 0, 0, .25);
    padding-block: 1rem;
    text-transform: capitalize;
    position: relative;
    isolation: isolate;
    overflow: hidden;

    &:hover {
        transform: scale(1.05);
        transition-duration: 200ms;

        img {
            margin-top: -10px;
            transform: scale(1.15);
            transition-duration: 300ms;
            filter: drop-shadow(1px 3px 0px black);
        }
    }
}

.pokemon-id-back {
    position: absolute;
    top: 3rem;
    left: 50%;
    transform: translateX(-50%);
    font-size: 4.5rem;
    font-weight: 800;
    color: var(--color-gray);
    z-index: -1;
}

.pokemon-img {
    padding-inline: 1rem;
    display: flex;
    justify-content: center;
}

.pokemon-img img {
    width: 100%;
    max-width: 12rem;
}

.pokemon-info {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    padding-inline: 1rem;
    align-items: center;
    text-align: center;
}

.name-container {
    display: flex;
    align-items: center;
    column-gap: .5rem;
    flex-wrap: wrap;
    justify-content: center;
}

.pokemon-id {
    background-color: var(--color-gray);
    padding: .25rem .5rem;
    border-radius: 100vmax;
    font-size: 1rem;
    font-weight: 500;
}

.pokemon-name {
    font-size: 1.5rem;
}

.pokemon-types {
    display: flex;
    gap: .5rem;
    font-size: 1rem;
    font-weight: 500;
    flex-wrap: wrap;
}

.type {
    padding: .15rem .5rem;
    border-radius: 100vmax;
    min-width: 100px;
}

.pokeball {
    display: block;
    width: 192px;
    height: 192px;
    background: radial-gradient(
            white 16px,
            black 17px 18px,
            white 19px 24px,
            black 25px 32px,
            transparent 33px
    ),
    linear-gradient(to bottom, red 0 80px, black 81px 96px, white 97px 100%);
    border-radius: 50%;
    border: 8px solid black;
    box-shadow: inset -16px -8px 0 0 rgba(0, 0, 0, 0.2);
}