:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    --color-black: #000000;
    --color-blue: #53A4CF;
    --color-dark-gray: #212121;
    --color-gray: #E8E8E8;
    --color-light-gray: #CCCCCC;
    --color-white: #FFFFFF;


    --type-bug: #729F3F;
    --type-dark: #707070;
    --type-dragon: linear-gradient(180deg, #53A4CF 50%, #F16E57 50%);
    --type-electric: #EED535;
    --type-fairy: #FDB9E9;
    --type-fighting: #D56723;
    --type-fire: #FD7D24;
    --type-flying: linear-gradient(180deg, #3DC7EF 50%, #BDB9B8 50%);
    --type-ghost: #7B62A3;
    --type-grass: #9BCC50;
    --type-ground: linear-gradient(180deg, #F7DE3F 50%, #AB9842 50%);
    --type-ice: #51C4E7;
    --type-normal: #A4ACAF;
    --type-poison: #B97FC9;
    --type-psychic: #F366B9;
    --type-rock: #A38C21;
    --type-steel: #9EB7B8;
    --type-water: #4592C4;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--color-black);
}

body {
    background: linear-gradient(to bottom, red 45%, black 45%, black 50%, white 50%);
}

ul {
    list-style-type: none;
}

button {
    background-color: transparent;
    border: 0;
    border-radius: 0;
}